<ion-view title="{{ 'ALERT_TITTLE' | translate }}" class="my-view">
  <ion-nav-bar align-title="center" class="bar-dark">
    <ion-nav-buttons side="left" class="my-view">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    </br>
    <div class="home-text">

      <p>{{'ALERT_CONTENT' | translate}}</p>
      <button ng-controller="AlertCtrl" ng-click="createAlert()" class="button button-dark">
        {{ 'ALERT_TITTLE' | translate }}
      </button>



    </div>
  </ion-content>
</ion-view>