<ion-view title="{{ 'FIRST_USE_TITTLE' | translate }}">
  <ion-nav-bar align-title="center" class="bar-dark">
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="home-text">
      <h1>{{'FIRST_USE_WELCOME' | translate}}</h1>
      <p> {{'FIRST_USE_WELCOME_PARAGRAPH' | translate}}</p>
    </div>
    <div>
      <form class="simple-form" name="settingsForm" ng-controller="UserRegistrationCtrl" ng-submit="registerUser(usernameField, passphraseField)">
        <label class="item item-input">
          <input type="text" name="usernameField" ng-model="usernameField" placeholder="Username (Required!)" required="required">
        </label>
        <label class="item item-input">
          <input type="text" name="passphraseField" ng-model="passphraseField" placeholder="Passphrase (Required!)" required="required">
        </label>
        </br>
        <button type="submit" ng-disabled="settingsForm.$invalid" class="button button-block button-dark"> {{'REGISTER' | translate}} </button>
      </form>
    </div>


  </ion-content>
</ion-view>