<ion-view title="{{ 'SETTINGS_TITTLE' | translate }}" class="my-view">
  <ion-nav-bar align-title="center" class="bar-dark">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">

    <ion-toggle ng-controller="WatchGeoCtrl" ng-model="geolocation.checked" ng-change="watchGeolocationChange()" toggle-class="toggle-dark">
      {{'WATCH_LOCATION_TOGGLE' | translate}}</ion-toggle>
<div>
    <button ng-controller="SettingsCtrl" ng-click="getUsername()" class="button button-dark">
      Get Username
    </button>
  </div>
    <div class="list" ng-controller="TranslateCtrl">

      <label class="item item-input item-select">
        <div class="input-label">
          {{ 'LANGUAGE_SELLECTION' | translate }}
        </div>
        <select ng-model="countSelected" ng-options="count.id as count.name for count in countList" ng-change="onchange(countList[countSelected-1])">

        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
