/* Empty. Add your own CSS if you like */

.home-text {
  text-align: center;
}
.button.button-icon.icon.ion-navicon {
  position: absolute;
  left: -20px;
}
.custom-icon {
  font-size: 21px;
}
input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}

.angular-google-map-container {
  height: 200px;
}
